In [7]:
import pandas as pd

In [12]:
cot = pd.read_json('./out/base.json')
cot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92 entries, 0 to 91
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         92 non-null     object
 1   description  92 non-null     object
dtypes: object(2)
memory usage: 2.2+ KB

In [13]:
df.head()

,name,description
0,AquaTrack Smart Bottle,"A sleek, durable water bottle with a built-in ..."
1,SunCharge Foldable Power Bank,"A lightweight, compact solar power bank that c..."
2,EverNote Reusable Notebook,An innovative notebook designed with erasable ...
3,CompactClean Laundry Pod,"A space-efficient, eco-friendly laundry soluti..."
4,FlexDesk Modular Organizer,A customizable desk organizer that can be fold...